.content {
    margin-top: 100px;
    padding: 50px;
}

.course_image {
    width: 500px;
    margin-top: 20px;
}

.btn_wrapper {
    display: flex;
}
.btn_wrapper2 {
    display: block;
    margin-top: auto;
}
.enroll_btn {
    padding: 15px;
    margin-left: 800px;
    border-radius: 100px;
    min-width: 200px;
    cursor: pointer;
}

.detail_wrapper{
    margin-top: 20px;
}

.back_arrow{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 10px;
}

.header_wrapper
{
    display: flex;
}